/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;700;900&display=swap');


/* -------------------------------------------------------------------------- */
/* GLOBAL ------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* COLORS */
:root {
  --orange-primary: #F16718;
  --orange-secondary: #FF9B62;
  --grey-primary: #7B8BAD;
  --grey-secondary: #E8EFF2;
  --dark-color: #162542;
  --light-color: #FFFFFF;
}


/* TYPOGRAPHY */
html {
  height: 100%;

  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

body {
  /* prevents margin collapsing */
  padding: 0.1px;
}

h1, h2, h3 {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--dark-color);
}

p, span {
  color: var(--grey-primary);
  line-height: 1.625rem;
  font-size: 1rem;
}


/* BUTTONS */
.btn {
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: 700;

  padding: .625rem .875rem;

  border-radius: .5rem;
  border: none;

  cursor: pointer;
  transition: .3s;
}

.btn-1 {background-color: var(--orange-primary); color: var(--light-color)}
.btn-2 {background-color: var(--grey-secondary); color: var(--dark-color)}

/* no hover on mobile/tablet */
@media (hover: hover) {
.btn-1:hover {background-color: var(--orange-secondary);}
.btn-2:hover {background-color: var(--dark-color); color: var(--light-color);}
}



/* -------------------------------------------------------------------------- */
/* CONTENT ------------------------------------------------------------------ */
/* -------------------------------------------------------------------------- */

/* HEADER */
.header {
  margin: 1.5rem 6.5% 4rem;

  display: flex;
  justify-content: space-between;
}


/* BANNER */
.banner-content-container {
  margin: 0 6.5% 4rem;
}

.banner-main-txt {
  font-size: 3rem;
  line-height: 3rem;
}

.banner-sub-txt {
  margin: 2rem 0;
}

.banner-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;

  text-transform: uppercase;
  margin-right: 1rem;
}

.banner-image-container {
  overflow: hidden;
  background-image: url("./assets/mobile/image-keyboard.jpg");
  background-size: cover;

  width: 100%;
  height: calc(100vw * .889);

  border-radius: 1.25rem;
  
  margin-left: 6.5%;
  margin-bottom: 1.5rem;
}


/* OVERVIEW */
.overview {
  margin-bottom: 6.9375rem;
}

.overview-image-container {
  display: flex;
  margin-bottom: 4.6875rem;
  height: calc(58.666vw * .85);
}

.overview-img-1 {
  background-image: url("./assets/mobile/image-phone-and-keyboard.jpg");
  background-color: var(--orange-primary);
  background-size: cover;
  background-blend-mode: multiply;

  border-radius: 1.25rem;
  width: 34.4%;
  margin-left: -5.87%;
}

.overview-img-2 {
  background-image: url("./assets/mobile/image-glass-and-keyboard.jpg");
  background-size: cover;
  border-radius: 1.25rem;
  width: 58.666%;
  height: auto;
  margin-left: 6.4%;
}

.overview-content-container {
  text-align: center;
  color: var(--grey-primary);
}

.overview-main-txt {
  font-size: 2rem;
  line-height: 2.25rem;
  margin: 0 16% 1.5rem;
}

.overview-sub-text {
  margin: 0 6.4% 2rem;
}



/* FEATURES */
.features {
  margin-bottom: 3rem;
}

.feature {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.feature-icon-container {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: var(--orange-primary);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 3rem;
}

.feature-main-txt {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.75rem;
  width: 58%;
}

.feature-sub-txt {
  width: 87.2%;
}



/* FOOTER */
.footer {
  text-align: center;
  margin-bottom: 3.125rem;
}

.footer-heavy-txt {
  font-weight: 500;
}



/* -------------------------------------------------------------------------- */
/* BREAKPOINTS -------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* xtra small screens */
@media only screen and (max-width: 350px) {
  .btn {font-size: .9rem;}

  /* BANNER */
  .banner-main-txt {font-size: 2.5rem; line-height: 2.5rem;}
  .banner-btn-container {margin-right: 0;}
}


/* tablets */
@media only screen and (max-width: 600px) {
  /* HEADER */
  .header {
    margin: 2.5rem 6.5% 3.875rem;
  }
}
